body{
    margin: 0;
    background-image: url("./images/background3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
img{
    border-radius: 50%;
    width: 200px;
    position: fixed;
    bottom: 50px;
}
ul{
    
    background-color: #808080;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
   
}
li{
    float: left;
}
li a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: aqua;
    color: black;
}
li a.active{
    background-color: seagreen;
}
#intro{
    position: absolute;
    top: 170px;
    left: 50px;
    color: rgb(21, 24, 18);
    font-size: 25px;
}
h1{
    position: absolute;
    top: 100px;
    left: 100px;
    color: rgb(46, 52, 139);
    font-size: 3em;
    
}
@media screen and (max-width: 600px){
    ul{
        float: none;
        display: block;
        background-color: white;
        color: black;
    }
}