body{
    margin: 0;
    background-image: url("./images/background3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    background-color: gray;
}
img{
    border-radius: 50%;
    width: 200px;
    align-items: center;
    position: fixed;
    bottom: 50px;
}
ul{
    
    background-color: #808080;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
   
}
li{
    float: left;
}
li a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: aqua;
}